.au_1{
    display: flex;
}

.au_1_1{
    width: 50%;
    text-align: center;
}

.au_1_1 img{
    width: 80%;
}

.au_1_2 {
    width: 50%;
    text-align: center;
    font-size: 25px;
}

.au_1_2 img{
    width: 80%;
}

.au_2{
    display: flex;
}
.au_2_2{
    width: 50%;
    text-align: center;
    align-items: center;
}

.au_2_2 img{
    width: 100%;
}

.au_2_1 {
    width: 50%;
    text-align: center;
    font-size: 25px;
}




@media only screen and (max-width:970px){
    

    .au_1{
        display: block;
    }

    .au_1 div{
        width: 80%;
        margin: auto;
    }

    .au_2{
        display: block;
    }

    .au_2 div{
        width: 80%;
        margin: auto;
    }



}